<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>DBX Library</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <style type="text/css" media="screen">
      #books {
        border-collapse: collapse;
      }
      #books td, #books th {
        border: 1px solid black;
        padding: 5px;
      }
      #books td.image img {
        height: 100px;
      }
    </style>
  </head>
<body>
  <h1>DBX könyvtár</h1>
  <table id="books">
    <thead>
     <tr>
       <th>Picture</th>
       <th>Title</th>
       <th>Author</th>
       <th>Publisher</th>
       <th>Year</th>
       <th>Pages</th>
     </tr> 
    </thead>
    <tbody>
      <tr>
        <td class="image"><img src="http://ecx.images-amazon.com/images/I/51ca4jVBOmL._SL500_AA300_.jpg" alt="front cover" /></td>
        <td class="title"><a href="http://www.amazon.com/Drools-JBoss-Rules-Developers-Guide/dp/1847195644/ref=sr_1_1?ie=UTF8&s=books&qid=1267798055&sr=8-1">Drools JBoss Rules 5.0 Developer's Guide (Paperback)</a></td>
        <td class="author">Michal Bali</td>
        <td class="publisher">Packt Publishing</td>
        <td class="year">2009</td>
        <td class="pages">320</td>      
      </tr>
    </tbody>
  </table>
</body>
</html>
